.home{
    width:100%;height:100%;
    overflow:auto;
    .sideBar{
        position:absolute;top:15px;left:15px;bottom:15px;z-index:1;
        width:370px;
        .categoryList{
            box-shadow:0 1px 3px rgba(26,26,26,.1);
            padding:20px 10px;margin-bottom:10px;
            background:#fff;height:auto;
            overflow:hidden;
            a{
                font-size:14px;color:#8590a6;text-align:center;
                float:left;width:25%;line-height:25px;
                i{
                    display:block;margin-bottom:5px;
                }
                &:hover,&.actived{
                    color:#1890ff;
                }
            }
        }
        .card{
            box-shadow:0 1px 3px rgba(26,26,26,.1);
            background:#fff;height:auto;
            padding:20px 10px;
            a{
                display:block;height:40px;line-height:40px;padding-left:10px;
                font-size:14px;color:#8590a6;
                i{
                    margin-right:5px;
                }
                &:hover,&.actived{
                    color:#1890ff;
                }
            }
        }
    }
    .main{
        margin-left:400px;padding:15px 15px 15px 0;
        box-sizing:border-box;height:100%;
        overflow:auto;
        .content{
            min-height:100%;
        }
    }
}